mixin parallax-slider()
	.slider.slider--main.swiper.swiper-container.js-slider-main
		.swiper-wrapper.slider__wrapper
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/7.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/2.jpg)")(data-swiper-parallax="300")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/6.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/9.jpg)")(data-swiper-parallax="300")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/5.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/4.jpg)")(data-swiper-parallax="300")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/3.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/1.jpg)")(data-swiper-parallax="300")
		.swiper-pagination.slider__pagination

	.slider.slider--bg.swiper.swiper-container.js-slider-bg
		.swiper-wrapper.slider__wrapper
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/7.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/2.jpg)")(data-swiper-parallax="300")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/6.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/9.jpg)")(data-swiper-parallax="300")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/5.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/4.jpg)")(data-swiper-parallax="300")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/3.jpg)")(data-swiper-parallax="200")
			.swiper-slide.slider__item
				.slider__img(style="background-image: url(images/slider/1.jpg)")(data-swiper-parallax="300")